

.ruler {
  width      : 502px;
  height     : 20px;
  background : black;
}

.tickets__container {
 // height     : 300px;
  width      : 500px;
 // overflow-y : scroll;
  background : seashell;
  border : {

    left : solid 1px lightgray;
    right : solid 1px lightgray;
  }
}

.tickets__table {
  display    : table;
  list-style : none;
  width      : 100%;
 // height     : 100px;
  padding    : 0;
  margin     : 0;
  font-family: arial;
  color      : #666;
}

.tickets__tr, .tickets__th {

  display : table-row;
}

.tickets__th .tickets__tc {
  font-size : 12px;

}

.tickets__th .tickets__tc--quantity {

    text-align : center;
}

%tickets__tc {

  padding : {
    top :20px;
    bottom : 10px;

  }
  border-bottom : solid 1px black;
  display : table-cell;
}

.tickets__tc--event {
  @extend %tickets__tc;
  padding-left : 10px;
  line-height : 20px;
}

.event__name {

    font-weight : 700;
}

.tickets__tc--price {
  @extend %tickets__tc;
  width : 60px;
  text-align : right;
  padding-right : 10px;
}

.tickets__tc--quantity {
  @extend %tickets__tc;
  width : 80px;
  vertical-align : top;
}

//  buy cell
.tickets__tc--buy{
  @extend %tickets__tc;
  width : 50px;
  padding-right : 20px;
  text-align : right;
}

.buy-button {

  background : #666;
  padding : 4px 6px;
  text-transform : uppercase;
  color : white;
  border : none;

}

.fooSelectWrapper {
  float : left;
  position : relative;
  outline : none;

}

.hide {
  display : none !important;
}

.fooSelectVal {
  font-family : arial;
  color : cornflowerblue;
  font-size : 40px;
  line-height : 20px;
  float : left;
  width : 40px;
  text-align : right;
  margin-right : 10px;

}

.fooSelectList {
  list-style : none;
  border : solid 1px #333;
  z-index : 4;
  display : block;
  padding : 0;
  margin : 0;
  position : absolute;
  top : 44px;
  left : 35px;
  width : 30px;
  text-align : center;
}

.fooSelectOption {
  font-family : arial;
  color : #999;
  font-size : 12px;
  background : lightgray;
  border-top : 1px solid silver;
  padding : 4px 5px;
}

.active {


.ruler {
  width      : 502px;
  height     : 20px;
  background : black;
}

.tickets__container {
 // height     : 300px;
  width      : 500px;
 // overflow-y : scroll;
  background : seashell;
  border : {

    left : solid 1px lightgray;
    right : solid 1px lightgray;
  }
}

.tickets__table {
  display    : table;
  list-style : none;
  width      : 100%;
 // height     : 100px;
  padding    : 0;
  margin     : 0;
  font-family: arial;
  color      : #666;
}

.tickets__tr, .tickets__th {

  display : table-row;
}

.tickets__th .tickets__tc {
  font-size : 12px;

}

.tickets__th .tickets__tc--quantity {

    text-align : center;
}

%tickets__tc {

  padding : {
    top :20px;
    bottom : 10px;

  }
  border-bottom : solid 1px black;
  display : table-cell;
}

.tickets__tc--event {
  @extend %tickets__tc;
  padding-left : 10px;
  line-height : 20px;
}

.event__name {

    font-weight : 700;
}

.tickets__tc--price {
  @extend %tickets__tc;
  width : 60px;
  text-align : right;
  padding-right : 10px;
}

.tickets__tc--quantity {
  @extend %tickets__tc;
  width : 80px;
  vertical-align : top;
}

//  buy cell
.tickets__tc--buy{
  @extend %tickets__tc;
  width : 50px;
  padding-right : 20px;
  text-align : right;
}

.buy-button {

  background : #666;
  padding : 4px 6px;
  text-transform : uppercase;
  color : white;
  border : none;

}

.fooSelectWrapper {
  float : left;
  position : relative;
  outline : none;

}

.hide {
  display : none !important;
}

.fooSelectVal {
  font-family : arial;
  color : cornflowerblue;
  font-size : 40px;
  line-height : 20px;
  float : left;
  width : 40px;
  text-align : right;
  margin-right : 10px;

}

.fooSelectList {
  list-style : none;
  border : solid 1px #333;
  z-index : 4;
  display : block;
  padding : 0;
  margin : 0;
  position : absolute;
  top : 44px;
  left : 35px;
  width : 30px;
  text-align : center;
}

.fooSelectOption {
  font-family : arial;
  color : #999;
  font-size : 12px;
  background : lightgray;
  border-top : 1px solid silver;
  padding : 4px 5px;
}

.active {

  background : #666;
  color : white;
}

.fooSelectOption:first-child {

  border-top : none;
}

h2 {
  margin : 0;
}

.fooSelectButton {
  font-family : arial;
  float : left;
  color : cornflowerblue;
  font-size : 20px;
  border : none;
  text-transform : uppercase;
  padding : 0;
  margin : 0;
  vertical-align :bottom;
}

@media (max-width: 500px) {

  .ruler {
    width : 320px;
    background : black;
  }

  .tickets__container {
    height     : auto;
    width      : 320px;
    overflow-y : hidden;
    background : white;
  }

  .tickets__th {
    display : none;
  }

  .tickets__tc--price {
    display : none;
  }
}
  background : #666;
  color : white;
}

.fooSelectOption:first-child {

  border-top : none;
}

h2 {
  margin : 0;
}

.fooSelectButton {
  font-family : arial;
  float : left;
  color : cornflowerblue;
  font-size : 20px;
  border : none;
  text-transform : uppercase;
  padding : 0;
  margin : 0;
  vertical-align :bottom;
}

@media (max-width: 500px) {

  .ruler {
    width : 320px;
    background : black;
  }

  .tickets__container {
    height     : auto;
    width      : 320px;
    overflow-y : hidden;
    background : white;
  }

  .tickets__th {
    display : none;
  }

  .tickets__tc--price {
    display : none;
  }
}