.selection-box {

	position: relative;

	.display-area {
		border: solid 1px #777;
	}

	.display-area:focus,
	.option:focus {
		outline-color: lightblue;
		outline-style: solid;
	}

	.option-list {

		position: absolute;
		left: 4px;
		z-index: 4;
		list-style: none;
		overflow-y : auto;
		width: 100%;
		margin: 0;
		padding: 0;
		border: solid 1px #777;
		display: block;
		background : white;

		&.below {
			top: calc(100% + 6px);
		}

		&.above {
			bottom : calc(100% + 6px);
		}
	}

	&[data-state=closed] .option-list {
		visibility: hidden !important;
	}
}




