#flags-selection-box *,
#flags-selection-box *:before,
#flags-selection-box *:after {
	box-sizing: border-box;
}
 
#flags-selection-box {
	width : 400px;
	font-family : helvetica;
}

#flags-selection-box .display-area {
	font-size : 26px;
}

#flags-selection-box [data-country] {
	padding: 12px;
	position: relative;
	line-height: 42px;
}

#flags-selection-box .option-list {
	padding: 12px;
}

#flags-selection-box .option-group-label {
	font-size:  1.2em;
	font-weight : 900;
}

#flags-selection-box .__disabled {
	color : #aaa;
}
#flags-selection-box .__disabled .country-flag {
	opacity : 0.4;
}
#flags-selection-box .option-group-label {
	padding: 12px 0;
}
#flags-selection-box .option .country-option {
	padding: 6px 0;
	border-top : solid 1px #aaa;
}

#flags-selection-box .option:last-child .country-option {
	border-bottom : solid 1px #aaa;
}

#flags-selection-box [data-country]:after {
	content : '';
	/* position : absolute; */
	right : 0;
	display: block;
	width: 80px;
	height: 42px;
	line-height:  1;
	float:  right;
	top:  0;
	background-size : cover;
	background-repeat : no-repeat;
	background-position : center;
}

#flags-selection-box .country-name {
	line-height :  40px;
}

#flags-selection-box .country-flag {
	vertical-align : middle;
	float : right;
	height : 40px;
	width: 80px;
	display : inline-block;
	background-size: cover;
	background-repeat: no-repeat;
	background-position:  center;
}

[data-country=France]:after, [data-value=France] .country-flag {
	background-image : url(../img/france-flag.png);
}
[data-country=UK]:after, [data-value=UK] .country-flag  {
	background-image : url(../img/uk-flag.png);
}
[data-country=Germany]:after, [data-value=Germany] .country-flag {
	background-image : url(../img/germany-flag.png);
}
[data-country=Spain]:after, [data-value=Spain] .country-flag {
	background-image : url(../img/spain-flag.png);
}
[data-country=Italy]:after, [data-value=Italy] .country-flag {
	background-image : url(../img/italy-flag.png);
}
[data-country=Egypt]:after, [data-value=Egypt] .country-flag  {
	background-image : url(../img/egypt-flag.png);
}
[data-country=USA]:after, [data-value=USA] .country-flag {
	background-image : url(../img/usa-flag.png);
}
[data-country=Sudan]:after, [data-value=Sudan] .country-flag {
	background-image : url(../img/sudan-flag.png);
}
[data-country=Libya]:after, [data-value=Libya] .country-flag {
	background-image : url(../img/libya-flag.png);
}
