.selection-box {
	position: relative;
}

.selection-box .display-area {
	border: solid 1px #777;
}

.selection-box .display-area:focus,
.selection-box .option:focus {
	outline-color: lightblue;
	outline-style: solid;
}

.selection-box .option-list {
	list-style: none;
	background : white;
	border: solid 1px #777;
	z-index: 4;
	display: block;
	padding: 0;
	margin: 0;
	position: absolute;
	top: calc(100% + 6px);
	left: 4px;
	width: 100%;
}

.selection-box[data-state=closed] .option-list {
	visibility: hidden !important;
}
