body {
	background: hsl(106, 4%, 92%);
}
.banner {
	background : hsl(0,0%,0%);
}
.banner h1 {
	font-size : 2rem;
	font-family : helvetica;
	line-height : 2;
	color : hsl(5, 6%, 95%);
	display: block;
	width : 800px;
	margin : auto;
}
.main {
	width : 800px;
	margin : auto;
	background : hsl(0, 100%, 100%);
	padding : 20px;
}

h2 {
	font-family : helvetica;
	font-size : 1.6rem;
	line-height : 2;
}
h3 {
	font-family : helvetica;
	font-size : 1.2rem;
	line-height : 2;
}
p {
	margin-bottom : 1rem;
	line-height:  1.2;
}
.example {
	margin-bottom : 12px;
	border : solid 1px #ddd;
	padding : 12px;
}
pre {
	background: lightgrey;
	background-origin: content-box;
	line-height:  1.5em;
	background-image: linear-gradient(rgba(0, 0, 0, .2) 50%, transparent 0);
	background-size: auto 3em;
	color : black;
	border : solid 1px #666;
	font-family : courier;
	margin-bottom : 12px;
	padding : 12px;
	tab-size : 2;
}
ul {
	list-style-position : inside;
}
ul li {
	list-style-type : disc;

}
nav.links a {
	display : block;
}

code {
	font-family : courier;
}

.knockout-example-select-element {
	margin-bottom : 20px;
}